body {
  margin: 0;
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

/* translate */
.default {
  transform: translateX(0);
  transform: translateY(0);
}

.moove {
  transform: translateX(-100px);
  transform: translateY(-30px);
  transition: linear;
  transition-delay: 300ms;
}

.menuParent {
  background: "#ddd";
  text-align: "center";
  align-items: "center";
  justify-content: "center";
  display: "flex";
  height: 30px
}

/* back button */